body {
  background: antiquewhite;
}
main {
  
  margin: 0 auto;
  margin-right: 300px;
  
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
 
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
  text-align: center;
  user-select: none;
  cursor: pointer;
  margin: 4px;
  height: 140px;
border-radius: 10px;
 
}

li:hover {
  opacity: 0.6;
}

img{
  width: 100px;
}
.row1 {
  text-align: center;
  width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row2 {
  text-align: center;
  width: 66%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row3 {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row4 {
  text-align: center;
  width: 44%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row5 {
  text-align: center;
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row6 {
  text-align: center;
  width: 20%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row7 {
  text-align: center;
  width: 10%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.choice {
 border: 2px solid blue;
 margin: -2px;
 margin-right: 6px;
 margin-bottom: 2px;
 box-shadow: 1px 1px 1px 1px;
}


.remove {
  visibility: hidden;
}

.deckopen {
  display: flex;
  
}

.dn0, .dn1, .dn2, .dn3, .dn4, .dn5, .dn6, .dn7, .dn8, .dn9, .dn10, .dn11, .dn12, .dn13, .dn14, .dn15, .dn16, .dn17, .dn18, .dn19 {
  display: none;
}

.test {
  display: none;
}